---
import Section from "@/layouts/Section/Section.astro";
import * as AboutStyled from "./About.styled";
import { Image } from "astro:assets";
import GlassPanel from "@/layouts/GlassPanel/GlassPanel.astro";
import SocialNetwork from "@/components/SocialNetwork/SocialNetwork.astro";
import ExternalLink from "@/components/ExternalLink/ExternalLink.astro";
import ContactLink from "@/components/ContactLink/ContactLink.astro";
// import Slider from "../../components/Slider/Slider";
import NewSlider from "../NewSlider/NewSlider.astro";
import { NOT_FONT_SIZE } from "@/styles";
import { highlightToHTMLTag } from "@/tools";
import jsonData from "@/data.json";
import MySelf from "@/../public/about/myself.webp";
import FlatLogo from "@/../public/flat-logo.png";
import FlatLogoN from "@/../public/flat-logo-n.png";

const { externalNetwork, pages } = jsonData;

const { sections } = pages.home;
const sectionKey: keyof typeof sections = "about";

const { about } = sections;
const { presentation, descSlider, residence } = about.data;

const imgs = descSlider.map(({ img }) => ({ ...img }));

const convertedDesc = descSlider.map(({ desc }) => highlightToHTMLTag(desc));
---

<!-- TODO: semantica HTML -->
<Section sectionKey={sectionKey}>
  <AboutStyled.Component>
    <div class="desc">
      <p class="hello">{presentation[0]}</p>
      <div class="title-group">
        <h1 class="name">{presentation[1]}</h1>
        <!-- TODO: no creo que sea correcto el h2 aqui -->
        <h2 class="rol">{presentation[2]}</h2>
      </div>
      <div id="descAdaptable">
        <div id="descContent">
          {convertedDesc.map((item) => <p set:html={item} class="text" />)}
        </div>
      </div>
      <nav class="nav" id="socialNetsInAbout">
        {
          [
            ...externalNetwork
              .slice()
              .reverse()
              .map((item) => (
                <SocialNetwork
                  iconName={item.iconName}
                  href={item.url}
                  title={item.title}
                />
              )),
            <ContactLink />,
          ].map((item, index) => <div style={`--i: ${index}`}>{item}</div>)
        }
      </nav>
    </div>
    <div class="extra-info">
      <div class="x">
        <GlassPanel
          style={{ borderRadius: NOT_FONT_SIZE.xs }}
          handlingClass={["glass-panel"]}
        />
        <NewSlider
          folder="about"
          imgs={imgs}
          eager
          style={{ aspectRatio: "1 / 1" }}
          handlingClass={["slider"]}
        />
      </div>
      <ExternalLink
        text={residence.text}
        url={residence.mapsUrl}
        iconName="fa-solid fa-location-dot"
      />
    </div>
  </AboutStyled.Component>
</Section>

<script>
  import { adaptable } from "@/tools/adaptable.tool";

  adaptable(window.descAdaptable, window.descContent, false);
</script>
