---
import Section from "@/layouts/Section/Section.astro";
import * as AboutStyled from "./About.styled";
import { Image } from "astro:assets";
import GlassPanel from "@/layouts/GlassPanel/GlassPanel.astro";
import SocialNetwork from "@/components/SocialNetwork/SocialNetwork.astro";
import ExternalLink from "@/components/ExternalLink/ExternalLink.astro";
import ContactLink from "@/components/ContactLink/ContactLink.astro";
import Slider from "../../components/Slider/Slider";
import { NOT_FONT_SIZE } from "@/styles";
import { css } from "@emotion/react";
import { highlightToHTMLTag } from "@/tools";
import jsonData from "@/data.json";
import MySelf from "@/../public/myself.jpg";
import FlatLogo from "@/../public/flat-logo.png";
import FlatLogoN from "@/../public/flat-logo-n.png";

const { externalNetwork, pages } = jsonData;

const { sections } = pages.home;
const sectionKey: keyof typeof sections = "about";

const { about } = sections;
const { presentation, descSlider, residence } = about.data;

const imgs = [
  { src: MySelf, alt: descSlider[0].img.alt },
  { src: FlatLogo, alt: descSlider[1].img.alt },
  { src: FlatLogoN, alt: descSlider[1].img.alt },
];

const convertedDesc = descSlider.map((item) => highlightToHTMLTag(item.desc));
---

<Section sectionKey={sectionKey}>
  <AboutStyled.Component>
    <div class="desc">
      <p class="hello">{presentation[0]}</p>
      <div class="title-group">
        <h1 class="name">{presentation[1]}</h1>
        <h2 class="rol">{presentation[2]}</h2>
      </div>
      <div id="descAdaptable">
        <div id="descContent">
          {convertedDesc.map((item) => <p set:html={item} class="text" />)}
        </div>
      </div>
      <nav class="nav" id="socialNetsInAbout">
        {
          externalNetwork
            .slice()
            .reverse()
            .map((item, index) => (
              <SocialNetwork
                iconName={item.iconName}
                url={item.url}
                title={item.title}
                style={{
                  styled: css`
                    --i: ${index};
                  `,
                }}
              />
            ))
        }
        <div>
          <ContactLink />
        </div>
      </nav>
    </div>
    <div class="extra-info">
      <div class="x">
        <GlassPanel
          style={{ borderRadius: NOT_FONT_SIZE.xs, elevation: 2 }}
          handlingClass={["glass-panel"]}
        />
        <Slider
          client:load
          picturesLength={imgs.length}
          descContainerId="descContent"
          style={{ aspectRatio: [1, 1] }}
          handlingClass={["slider"]}
        >
          {imgs.map((item) => <Image loading="eager" {...item} />)}
        </Slider>
      </div>
      <ExternalLink
        text={residence.text}
        url={residence.mapsUrl}
        iconName="fa-solid fa-location-dot"
      />
    </div>
  </AboutStyled.Component>
</Section>

<script>
  import { adaptable } from "@/tools/adaptable.tool";

  adaptable(window.descAdaptable, window.descContent, false);
</script>
