---
import Section from "@/layouts/Section/Section.astro";
import * as AboutStyled from "./About.styled";
import GlassPanel from "@/layouts/GlassPanel/GlassPanel.astro";
import SocialNetwork from "@/components/SocialNetwork/SocialNetwork.astro";
import ExternalLink from "@/components/ExternalLink/ExternalLink.astro";
import ContactLink from "@/components/ContactLink/ContactLink.astro";
import ImgsSlider from "../ImgsSlider/ImgsSlider.astro";
import { NOT_FONT_SIZE } from "@/styles";
import { highlightToHTMLTag } from "@/tools";
import jsonData from "@/data.json";

const { externalNetwork, pages } = jsonData;

const { sections } = pages.home;
const sectionKey: keyof typeof sections = "about";

const { about } = sections;
const { header, subsections, imgs, residence } = about.data;
const { intro, profProfile, hobbiesAndLikes } = subsections;
---

<!-- TODO: semantica HTML -->
<Section sectionKey={sectionKey}>
  <AboutStyled.Component>
    <div class="a">
      <header>
        <p class="hello text">{header.hello}</p>
        <h1>
          {header.title}
          <strong>{header.titleStrong}</strong>
        </h1>
      </header>
      <ol class="subsections element-slider">
        <li>
          <div class="intro">
            <p class="text" set:html={highlightToHTMLTag(intro)} />
            <ExternalLink
              url={residence.mapsUrl}
              iconName="fa-solid fa-location-dot"
              text={residence.text}
              title={`Visitar ${residence.text} en Maps`}
            />
          </div>
        </li>
        <li>
          <article>
            <h4>{profProfile.title}</h4>
            <p class="text" set:html={highlightToHTMLTag(profProfile.text)} />
          </article>
        </li>
        <li>
          <article>
            <h4>{hobbiesAndLikes.title}</h4>
            <ul class="hobbies-and-likes">
              {
                hobbiesAndLikes.items.map(({ title, emoji }) => (
                  <li>
                    <span>{emoji}</span>
                    <p>{title}</p>
                  </li>
                ))
              }
            </ul>
          </article>
        </li>
      </ol>
    </div>
    <div class="b">
      <div class="x">
        <GlassPanel
          style={{ borderRadius: NOT_FONT_SIZE.xs }}
          handlingClass={["glass-panel"]}
        />
        <ImgsSlider
          folder="about"
          imgs={imgs}
          eager
          style={{ aspectRatio: "1 / 1" }}
          handlingClass={["slider"]}
        />
      </div>
      <nav class="nav" id="socialNetsInAbout">
        {
          [
            ...externalNetwork
              .slice()
              .reverse()
              .map(({ url, iconName, title }) => (
                <SocialNetwork
                  href={url}
                  iconName={iconName}
                  title={`Ir al perfil de ${title}`}
                />
              )),
            <ContactLink />,
          ].map((item, index) => <div style={`--i: ${index}`}>{item}</div>)
        }
      </nav>
    </div>
  </AboutStyled.Component>
</Section>
