---
import './Hi.css'
import { Image } from 'astro:assets'
import SmallLink from '@/components/SmallLink/SmallLink.astro'
import SocialNets from '@/components/SocialNets/SocialNets.astro'
import ContactLink from '@/components/ContactLink/ContactLink.astro'
import { highlightToHTMLTag } from '@/tools'
import MySelf1 from './myself-1.webp'
import jsonData from '@/data.json'

const { text, residenceMapsLink } =
  jsonData.pages.home.sections.about.data.hi.data
---

<section class="cmp-hi">
  <Image src={MySelf1} alt="" />
  <div class="bg card layout">
    <p class="text" set:html={highlightToHTMLTag(text)} />
  </div>
  <footer>
    <nav>
      <SocialNets />
      <ContactLink />
    </nav>
    <div>
      <SmallLink
        url={residenceMapsLink.url}
        faIcon="fa-solid fa-location-dot"
        text={residenceMapsLink.title}
        title={`Ir a ${residenceMapsLink.title} en Maps`}
      />
    </div>
  </footer>
</section>
