---
import './EducationItem.css'
import Pill from '@/components/Pill/Pill.astro'

interface DateData {
  machine: string
  human: string
}

interface Props {
  title: string
  institutionName: string
  endDate: DateData
  duration: DateData
  moreInfoLink: {
    title: string
    text: string
    url: string
  }
}

const { title, institutionName, endDate, duration, moreInfoLink } = Astro.props
---

<a
  class="education-item bg card layout external-link"
  title={moreInfoLink.title}
  href={moreInfoLink.url}
  target="_blank"
  rel="noopener"
>
  <h3>
    {title}
    <strong>{institutionName}</strong>
  </h3>
  <div>
    <Pill faIcon="fa-solid fa-calendar-check">
      <time class="text" datetime={endDate.machine}>
        {endDate.human}
      </time>
    </Pill>
    <Pill faIcon="fa-solid fa-stopwatch">
      <time class="text" datetime={duration.machine}>
        {duration.human}
      </time>
    </Pill>
  </div>
</a>
