---
import './Hi.css'
import { Image } from 'astro:assets'
import SmallLink from '@/components/SmallLink/SmallLink.astro'
import SocialNets from '@/components/SocialNets/SocialNets.astro'
import ContactLink from '@/components/ContactLink/ContactLink.astro'
import { highlightToHTMLTag } from '@/tools'
import MySelf1 from './myself-1.webp'
import jsonData from '@/content/data.json'

const { data, img } = jsonData.pages.home.sections.about.data.hi
const { text, residenceMapsLink } = data
---

<section class="cmp-hi">
  <Image src={MySelf1} alt={img.alt} loading="eager" />
  <div class="bg card layout">
    <p class="text" set:html={highlightToHTMLTag(text)} />
  </div>
  <footer>
    <nav class="items">
      <SocialNets />
      <ContactLink />
    </nav>
    <SmallLink
      url={residenceMapsLink.url}
      faIcon="fa-solid fa-location-dot"
      text={residenceMapsLink.title}
      title={`Ir a ${residenceMapsLink.title} en Maps`}
    />
  </footer>
</section>
