---
import './Section.css'
import Icon from '@/components/Icon/Icon.astro'

interface Props {
  sectionKey?: string
  title: string
  strong: string
  faIcon?: string
  main?: boolean
}

const { sectionKey, title, strong, faIcon, main } = Astro.props
---

<section class:list={['cmp-section', { main }]} id={sectionKey}>
  <header>
    {
      faIcon && (
        <div class="bullet">
          <span class="line top" />
          <div class="point pulsar">
            <Icon {faIcon} />
          </div>
          <span class="line bot" />
        </div>
      )
    }
    {
      main ? (
        <h1>
          {title}
          <strong>{strong}</strong>
        </h1>
      ) : (
        <h2>
          {title}
          <strong>{strong}</strong>
        </h2>
      )
    }
  </header>
  <div class="content">
    <slot />
  </div>
</section>

<script>
  import { $$, onScreen } from '@/tools'

  const sections = $$('.cmp-section')

  sections?.forEach(section => {
    onScreen(
      { observed: section, margin: '-25%' },
      isIntersecting => isIntersecting && section.classList.add('seen')
    )
  })
</script>
