---
import * as ExternalLinkStyled from "./ExternalLink.styled";
import Icon from "@/components/Icon/Icon.astro";
import { type HandlingClass, asClassName } from "@/tools";
import { FONT_SIZE } from "@/styles";

export interface Props {
  url: string;
  iconName: string;
  text: string;
  title?: string;
  handlingClass?: HandlingClass;
}

const { url, iconName, text, title, handlingClass = [] } = Astro.props;
---

<!-- TODO: semantica HTML -->
<ExternalLinkStyled.Component
  className={asClassName(...handlingClass)}
  title={title || `Ir a ${text.toLocaleLowerCase()}`}
  href={url}
  target="_blank"
  rel="noopener"
>
  <div class="external-link__glass-refleccion"></div>
  <div class="external-link__content">
    <Icon iconName={iconName} style={{ size: FONT_SIZE.s }} />
    {text}
  </div>
</ExternalLinkStyled.Component>
