---
import * as ExternalLinkStyled from "./ExternalLink.styled";
import Icon from "@/components/Icon/Icon.astro";
import { HandlingClass, asClassName } from "@/tools";
import { FONT_SIZE } from "@/styles";

interface Props {
  url: string;
  iconName: string;
  text: string;
  handlingClass?: HandlingClass;
}

const { url, iconName, text, handlingClass } = Astro.props;
---

<ExternalLinkStyled.Component
  className={asClassName(handlingClass)}
  title={`Ir a ${text}`}
  href={url}
  target="_blank"
  rel="noopener"
>
  <div class="external-link__glass-refleccion"></div>
  <div class="external-link__content">
    <Icon iconName={iconName} style={{ size: FONT_SIZE.s }} />
    {text}
  </div>
</ExternalLinkStyled.Component>
