---
import './WorkItem.css'
import AutoBgImage from '@/components/AutoBgImage/AutoBgImage.astro'
import TypePill from '@/components/TypePill/TypePill.astro'
import TechPill from '@/components/TechPill/TechPill.astro'
import type { InferEntrySchema } from 'astro:content'

interface Props extends InferEntrySchema<'works'> {
  id: string
}

const { id, title, types, techs, imgs } = Astro.props
const { file, alt } = imgs[0]
---

<a class="cmp-work-item bg card" href={`/works/${id}`}>
  <AutoBgImage
    img={{ folder: 'works', file, alt }}
    transitionName={`img-${id}`}
  />
  <div class="content">
    <h3>
      {title}
    </h3>
    <ul class="tags">
      {types.map(typeKey => <TypePill {typeKey} />)}
      {techs.map(({ name }) => <TechPill {name} />)}
    </ul>
  </div>
</a>
