---
import './WorkItem.css'
import AutoBgImage from '@/components/AutoBgImage/AutoBgImage.astro'
import TypePill from '@/components/TypePill/TypePill.astro'
import TechPill from '@/components/TechPill/TechPill.astro'
import type { InferEntrySchema } from 'astro:content'
import { DEFAULT_WORK_SIZE } from '../../Works.astro'
import { varList } from '@/tools'

interface Props extends InferEntrySchema<'works'> {
  id: string
}

const { id, title, types, techs, imgs, size = DEFAULT_WORK_SIZE } = Astro.props
const { file, alt } = imgs[0]
---

<a
  class="cmp-work-item bg card"
  href={`/works/${id}`}
  style={varList({ 'span-columns': size[0], 'span-rows': size[1] })}
>
  <AutoBgImage
    img={{ folder: 'works', file, alt }}
    transitionName={`img-${id}`}
  />
  <div class="content">
    <h3>
      {title}
    </h3>
    <ul class="tags">
      {types.map(typeKey => <TypePill {typeKey} />)}
      {techs.map(({ name }) => <TechPill {name} />)}
    </ul>
  </div>
</a>
