---
import './WorkItem.css'
import Tech from '@/components/Tech/Tech.astro'
import type { InferEntrySchema } from 'astro:content'
import { highlightToHTMLTag } from '@/tools'

interface Props extends InferEntrySchema<'works'> {}

const { title, types, techs, imgs } = Astro.props
---

<a href="/" class="cmp-work-item bg card">
  <img src={`src/assets/works/${imgs[0].file}`} alt={imgs[0].alt} />
  <div class="content">
    <header>
      <h3>
        {title}
      </h3>
      <div class="types">
        {types.map(name => <Tech name={name} />)}
      </div>
    </header>
    <!-- <div class="desc-container scrollable">
    <p set:html={highlightToHTMLTag(desc)} class="desc text" />
    </div> -->
    <ul class="techs">
      {techs.map(({ name }) => <Tech name={name} />)}
    </ul>
  </div>
</a>
