---
import './SmallLink.css'
import Icon from '@/components/Icon/Icon.astro'

export interface Props {
  title?: string
  text: string
  faIcon: string
  url: string
}

const { faIcon, text, title: initTitle, url } = Astro.props

const title = initTitle ?? text
---

<a
  class="small-link bg external-link s"
  {title}
  aria-label={title}
  href={url}
  target="_blank"
  rel="noopener"
>
  <Icon {faIcon} />
  {text}
</a>
