---
import * as SocialNetworkStyled from "./SocialNetwork.styled";
import Icon from "@/components/Icon/Icon.astro";
import { FONT_SIZE } from "@/styles";
import { type HandlingClass, asClassName } from "@/tools";

interface Props {
  url: string;
  iconName: string;
  title: string;
  style?: SocialNetworkStyled.Props;
  handlingClass?: HandlingClass;
}

const { url, iconName, title, style = {}, handlingClass } = Astro.props;
---

<SocialNetworkStyled.Component
  title={title}
  href={url}
  target="_blank"
  rel="noopener"
  p={SocialNetworkStyled.adapter(style)}
  className={asClassName(handlingClass)}
>
  <div class="external-network__glass-refleccion"></div>
  <div class="external-network__content">
    <Icon iconName={iconName} style={{ size: FONT_SIZE.m }} />
  </div>
</SocialNetworkStyled.Component>
