---
import './EducationItem.css'
import Icon from '@/components/Icon/Icon.astro'

interface DateData {
  machine: string
  human: string
}

interface Props {
  title: string
  institutionName: string
  endDate: DateData
  duration: DateData
  moreInfoLink: {
    url: string
    text: string
    title: string
  }
}

const { title, institutionName, endDate, duration, moreInfoLink } = Astro.props
---

<a
  class="education-item card highlight link"
  title={moreInfoLink.title}
  href={moreInfoLink.url}
  target="_blank"
  rel="noopener"
>
  <h3 class="text">
    {title}
    <span class="text">{institutionName}</span>
  </h3>
  <ul>
    <li>
      <Icon faIcon="fa-solid fa-calendar-check" />
      <time class="text" datetime={endDate.machine}>
        {endDate.human}
      </time>
    </li>
    <li>
      <Icon faIcon="fa-solid fa-stopwatch" />
      <time class="text" datetime={duration.machine}>
        {duration.human}
      </time>
    </li>
  </ul>
</a>
