---
import * as EducationItemStyled from "./EducationItem.styled";
import { Image } from "astro:assets";
import GlassPanel from "@/layouts/GlassPanel/GlassPanel.astro";
import ExternalLink from "@/components/ExternalLink/ExternalLink.astro";
import { NOT_FONT_SIZE, VARS } from "@/styles";

interface DateData {
  machine: string;
  human: string;
}

interface Props {
  title: string;
  institutionName: string;
  endDate: DateData;
  duration: DateData;
  moreInfoUrl: string;
  logo: {
    img: ImageMetadata;
    title: string;
    alt: string;
  };
  firstItem?: boolean;
  lastItem?: boolean;
}

const {
  title,
  institutionName,
  endDate,
  duration,
  moreInfoUrl,
  logo,
  firstItem = false,
  lastItem = false,
} = Astro.props;
---

<EducationItemStyled.Component>
  <article class="item">
    <header>
      <GlassPanel
        style={{
          padding: VARS.size.gold,
          borderRadius: NOT_FONT_SIZE["2xs"],
        }}
        handlingClass={["heading"]}
      >
        <div class="header-content" aria-labelledby="education-title">
          <h3 id="education-title" class="text">{title}</h3>
          <p class="institution-name text">{institutionName}</p>
        </div>
      </GlassPanel>
    </header>
    <div class="about-time">
      <time class="end-date text" datetime={endDate.machine}
        >{endDate.human}</time
      >
      <time class="duration text" datetime={duration.machine}
        >{duration.human}</time
      >
    </div>
    <div class="links">
      <ExternalLink
        url={moreInfoUrl}
        text="Más información"
        iconName="fa-solid fa-square-arrow-up-right"
      />
    </div>
    <span class="bullet">
      {!firstItem && <div class="pointer-line line top" />}
      <div class="point-3">
        <GlassPanel
          style={{
            padding: EducationItemStyled.POINT_2_PADDING,
            borderRadius: NOT_FONT_SIZE["6xl"],
          }}
          handlingClass={["glass-point"]}
        >
          <div class="point-1"></div>
        </GlassPanel>
      </div>
      <div class="pointer-line line bot"></div>
    </span>
    <span class="line-extension-layout line"></span>
  </article>
  {
    !lastItem && (
      <div class="item-gap">
        <div class="gap-line line" />
      </div>
    )
  }
</EducationItemStyled.Component>
