---
import * as EducationItemStyled from "./EducationItem.styled";
import { Image } from "astro:assets";
import GlassPanel from "@/layouts/GlassPanel/GlassPanel.astro";
import ExternalLink from "@/components/ExternalLink/ExternalLink.astro";
import { NOT_FONT_SIZE } from "@/styles";

interface Props {
  title: string;
  institutionName: string;
  duration: string;
  endDate: string;
  moreInfoUrl: string;
  logo: {
    img: ImageMetadata;
    title: string;
    alt: string;
  };
  firstItem?: boolean;
  lastItem?: boolean;
}

const {
  title,
  institutionName,
  duration,
  endDate,
  moreInfoUrl,
  logo,
  firstItem = false,
  lastItem = false,
} = Astro.props;

const formattedDate = new Date(`${endDate}T00:00`)
  .toLocaleDateString()
  .replace(/\//g, " · ");
---

<!-- TODO: semantica HTML -->
<EducationItemStyled.Component>
  <div class="item">
    <div class="pointer">
      {!firstItem && <div class="pointer-line line top" />}
      <div class="point-3">
        <GlassPanel
          style={{
            padding: EducationItemStyled.POINT_2_PADDING,
            borderRadius: NOT_FONT_SIZE["6xl"],
          }}
          handlingClass={["glass-point"]}
        >
          <div class="point-1"></div>
        </GlassPanel>
      </div>
      <div class="pointer-line line bot"></div>
    </div>
    <div class="extension-line line"></div>
    <span class="date">{formattedDate}</span>
    <div class="layout">
      <div class="certificate background-pictures">
        <Image src={logo.img} title={logo.title} alt={logo.alt} />
      </div>
      <div class="group">
        <GlassPanel
          style={{
            padding: NOT_FONT_SIZE.s,
            borderRadius: NOT_FONT_SIZE["2xs"],
          }}
          handlingClass={["heading"]}
        >
          <div class="heading-content">
            <h3 class="title">{title}</h3>
            <p class="subtitle text">{institutionName}</p>
          </div>
        </GlassPanel>
        <div class="links">
          <ExternalLink
            url={moreInfoUrl}
            text="Más información"
            iconName="fa-solid fa-square-arrow-up-right"
          />
        </div>
      </div>
    </div>
  </div>
  {
    !lastItem && (
      <div class="item-gap">
        <div class="gap-line line" />
      </div>
    )
  }
</EducationItemStyled.Component>
