---
import * as EducationItemStyled from "./EducationItem.styled";
import GlassPanel from "@/layouts/GlassPanel/GlassPanel.astro";
import ExternalLink from "@/components/ExternalLink/ExternalLink.astro";
import { NOT_FONT_SIZE, VARS } from "@/styles";
import Icon from "@/components/Icon/Icon.astro";

interface DateData {
  machine: string;
  human: string;
}

interface Props {
  title: string;
  institutionName: string;
  endDate: DateData;
  duration: DateData;
  moreInfoLink: {
    url: string;
    text: string;
    title: string;
  };
  faIcon: string;
  firstItem?: boolean;
  lastItem?: boolean;
}

const {
  title,
  institutionName,
  endDate,
  duration,
  moreInfoLink,
  faIcon,
  firstItem = false,
  lastItem = false,
} = Astro.props;
---

<EducationItemStyled.Component
  data-first-item={firstItem}
  data-last-item={lastItem}
>
  <article class="item">
    <header>
      <GlassPanel
        style={{
          padding: VARS.size.gold,
          borderRadius: NOT_FONT_SIZE["2xs"],
        }}
      >
        <div class="header-content" aria-labelledby="education-title">
          <h3 id="education-title" class="text">{title}</h3>
          <p class="institution-name text">{institutionName}</p>
        </div>
      </GlassPanel>
    </header>
    <div class="about-time">
      <time class="end-date text" datetime={endDate.machine}
        >{endDate.human}</time
      >
      <time class="duration text" datetime={duration.machine}
        >{duration.human}</time
      >
    </div>
    <ul class="links">
      <li>
        <ExternalLink
          {...moreInfoLink}
          iconName="fa-solid fa-square-arrow-up-right"
        />
      </li>
    </ul>
    <span class="bullet">
      <span class="line"></span>
      <span class="encapsulator"></span>
      <span class="line"></span>
      <Icon iconName={faIcon} handlingClass={["icon"]} />
    </span>
    <span class="line-extension-layout line"></span>
  </article>
  <span class="item-gap">
    <span class="line"></span>
  </span>
</EducationItemStyled.Component>
