---
import './Footer.css'
import Separator from '@/components/Separator/Separator.astro'
import Link from '@/components/Link/Link.astro'
import jsonData from '@/content/data.json'

const { copyright, sections } = jsonData.footer
const { acknowledgments, othersPages } = sections

// TODO: agregar un icono y un "Gracias por llegar hasta aqui" o algo asi
---

<footer class="cmp-footer">
  <Separator />
  <div class="sections">
    <article class="acknowledgments">
      <h4>{acknowledgments.title}</h4>
      <div>
        <p class="text">{acknowledgments.data.text}</p>
        <ul>
          {
            acknowledgments.data.items.map(({ emoji, text }) => (
              <li>
                <p class="text">
                  <span class="emoji">{emoji}</span>
                  {text}
                </p>
              </li>
            ))
          }
        </ul>
      </div>
    </article>
    <article class="others-pages">
      <h4>{othersPages.title}</h4>
      <nav>
        <Link href="cat" text="Not found" />
      </nav>
    </article>
  </div>
  <small class="text">{copyright}</small>
</footer>
