---
import * as FooterStyled from "./Footer.styled";
import Separator from "@/components/Separator/Separator.astro";
import Link from "@/components/Link/Link.astro";
import { COLOR } from "@/styles";
import jsonData from "@/data.json";

const { copyright, sections } = jsonData.footer;
const { acknowledgments, othersPages } = sections;
---

<FooterStyled.Component>
  <div class="sections">
    <article>
      <h4>{acknowledgments.title}</h4>
      <Separator
        style={{ backgroundColor: { dark: COLOR.gs_10 } }}
        handlingClass={["separator"]}
      />
      <div class="acknowledgments paragraphs">
        <p class="text">{acknowledgments.data.text}</p>
        <ul>
          {
            acknowledgments.data.items.map(({ emoji, text }) => (
              <li>
                <p class="text">
                  <span class="emoji">{emoji}</span>
                  {text}
                </p>
              </li>
            ))
          }
        </ul>
      </div>
    </article>
    <article>
      <h4>{othersPages.title}</h4>
      <Separator
        style={{ backgroundColor: { dark: COLOR.gs_10 } }}
        handlingClass={["separator"]}
      />
      <Link href="coffee" text="Not found" />
    </article>
  </div>
  <Separator
    style={{ backgroundColor: { dark: COLOR.gs_10 } }}
    handlingClass={["separator"]}
  />
  <small class="copyright text">{copyright}</small>
</FooterStyled.Component>
