---
import * as FooterStyled from "./Footer.styled";
import Separator, {
  type Props as SeparatorProps,
} from "@/components/Separator/Separator.astro";
import Link from "@/components/Link/Link.astro";
import { VARS } from "@/styles";
import jsonData from "@/data.json";

const { copyright, sections } = jsonData.footer;
const { acknowledgments, othersPages } = sections;

const separatorProps: SeparatorProps = {
  style: {
    color: {
      light: VARS.color.b.line.light,
      dark: VARS.color.b.line.dark,
    },
  },
  handlingClass: ["separator"],
};
---

<FooterStyled.Component>
  <div class="sections">
    <article>
      <h4>{acknowledgments.title}</h4>
      <Separator {...separatorProps} />
      <div class="acknowledgments paragraphs">
        <p class="text">{acknowledgments.data.text}</p>
        <ul>
          {
            acknowledgments.data.items.map(({ emoji, text }) => (
              <li>
                <p class="text">
                  <span class="emoji">{emoji}</span>
                  {text}
                </p>
              </li>
            ))
          }
        </ul>
      </div>
    </article>
    <article>
      <h4>{othersPages.title}</h4>
      <Separator {...separatorProps} />
      <nav>
        <Link href="cat" text="Not found" />
      </nav>
    </article>
  </div>
  <Separator {...separatorProps} />
  <small class="copyright text">{copyright}</small>
</FooterStyled.Component>
