---
import * as FooterStyled from "./Footer.styled";
import Link from "@/components/Link/Link.astro";
import Separator from "@/components/Separator/Separator.astro";
import { COLOR } from "@/styles";
import jsonData from "@/data.json";

const { copyright, sections } = jsonData.footer;
const { acknowledgments, othersPages } = sections;
---

<FooterStyled.Component>
  <ul class="sections">
    <li class="item">
      <p class="title">{acknowledgments.title}</p>
      <Separator
        style={{ invert: true, backgroundColor: { dark: COLOR.gs_10 } }}
        handlingClass={["separator"]}
      />
      <div class="acknowledgments paragraphs">
        <p class="text">{acknowledgments.data.text}</p>
        <ul>
          {
            acknowledgments.data.items.map((item) => (
              <li class="text">
                <span class="emoji">{item.emoji}</span>
                {item.text}
              </li>
            ))
          }
        </ul>
      </div>
    </li>
    <li class="item">
      <p class="title">{othersPages.title}</p>
      <Separator
        style={{ invert: true, backgroundColor: { dark: COLOR.gs_10 } }}
        handlingClass={["separator"]}
      />
      <Link url="coffee" text="Not found" handlingClass={["link-page"]} />
    </li>
  </ul>
  <Separator
    style={{ invert: true, backgroundColor: { dark: COLOR.gs_10 } }}
    handlingClass={["separator"]}
  />
  <span class="copyright text">{copyright}</span>
</FooterStyled.Component>
