---
import * as HamburgerMenuStyled from "./HamburgerMenu.styled";
import Hamburger from "./components/Hamburger/Hamburger.astro";
import Separator from "@/components/Separator/Separator.astro";
import Link, { type Props as LinkProps } from "@/components/Link/Link.astro";
import ToggleDarkMode from "@/components/ToggleDarkMode/ToggleDarkMode.astro";
import SocialNetwork from "@/components/SocialNetwork/SocialNetwork.astro";
import { COLOR_BRIGHT_A, COLOR_DARK_A } from "@/styles";
import jsonData from "@/data.json";

interface Props {
  linksData: {
    home: LinkProps[];
    resume: LinkProps;
  };
}

const { home, resume } = Astro.props.linksData;
const { externalNetwork } = jsonData;

const separatorStyle = {
  backgroundColor: {
    dark: COLOR_DARK_A,
    bright: COLOR_BRIGHT_A,
  },
};
---

<!-- TODO: semantica HTML -->
<HamburgerMenuStyled.Component>
  <button class="deep-touch" id="deepTouch" title="Cerrar menú"></button>
  <header class="glass">
    <div class="adaptable">
      <div class="content">
        <div class="controls">
          <Hamburger />
          <ToggleDarkMode />
        </div>
        <Separator style={separatorStyle} />
        <nav>
          {home.map((item) => <Link {...item} />)}
          <Separator style={separatorStyle} />
          <Link {...resume} />
          <Separator style={separatorStyle} />
          <div class="external-networks">
            {
              externalNetwork.map(({ url, iconName, title }) => (
                <SocialNetwork
                  href={url}
                  iconName={iconName}
                  title={`Ir al perfil de ${title}`}
                />
              ))
            }
          </div>
        </nav>
      </div>
    </div>
  </header>
</HamburgerMenuStyled.Component>

<script>
  import { bodyManager } from "@/tools/elementManagers.tool";

  const deepTouch = window.deepTouch as HTMLButtonElement;

  const deepTouchHandleClick = () => {
    bodyManager.setData("hamburgerMenuIsOpen", "false");
  };

  deepTouch.addEventListener("click", deepTouchHandleClick);
</script>
